@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&display=swap");
body {
    font-family: 'IBM Plex Sans Thai', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background: rgba(18, 2, 39, 1);
}

h1 {
    color: #222;
    font-weight: 600;
    letter-spacing: .05em;
    font-size: 3.6em;
}

h2 {
    color: #63B4B8;
    text-shadow: 1px 2px 4px hsl(0, 50%, 50%, 20%);
    font-weight: 400;
    font-size: 3em;
}

h3 {
    color: #888;
    font-weight: 400;
    font-style: italic;
    font-size: 1.8em;
}

p {
    color: #444;
    text-indent: 1em;
    margin-bottom: 3em;
    font-size: 1.5em;
}

li {
    color: #444;
    opacity: .8;
    font-size: 1.4em;
    margin-left: 5rem;
    text-indent: 0em;
    margin-bottom: .5em;
}

code {
    unicode-bidi: bidi-override;
    word-wrap: break-word;
    direction: ltr;
    color: #7c54b4;
}

a {
    opacity: 1;
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    transition: .3s;
    color: inherit;
    opacity: .8;
}

#header {
    background-image: linear-gradient(180deg, hsl(265, 39%, 25%) 0%, rgba(36, 3, 64, 1) 40%, rgba(18, 2, 39, 1) 100%);
    background-size: 100% 250%;
    background-position: 50% 99%;
    min-height: 480px;
    animation: bg-transform 2s;
}

.text-header-primary {
    font-size: 7em;
    color: #7c54b4;
    line-height: 1.2em;
    letter-spacing: .06em;
    font-weight: 600;
}

.text-header-secondary {
    line-height: 1.2em;
    font-size: 4em;
    color: hsl(0, 50%, 100%, 50%);
}

.text-header-describetion {
    position: absolute;
    color: hsl(0, 50%, 100%, 60%);
    bottom: 20%;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
}

.content-container {
    background: linear-gradient(180deg, rgba(18, 2, 39) 0%, hsl(272, 91%, 11%) 20%, rgba(18, 2, 39) 40%, hsl(272, 91%, 11%) 60%, rgba(18, 2, 39) 80%);
}

.content-span {
    border-radius: 2em;
    background: #ddd;
}

#navigatorSide {
    transition: .3s;
    width: 224px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.navigator-side-btn {
    visibility: hidden;
    border-radius: 0rem .25rem .25rem 0rem;
    background: hsl(0, 50%, 100%, 15%);
    box-sizing: border-box;
    font-size: 1em;
    border-left: 4px solid var(--btn-color);
    color: hsl(0, 50%, 100%, 80%);
}

.navigator-side-btn:hover {
    border-radius: .25rem;
    background: var(--btn-color);
    color: white;
    cursor: pointer;
    transform: translateX(12px);
}

.navigator-side-btn:active {
    opacity: .6;
    transform: translateX(12px) scale(0.95);
}

#navigatorTop {
    display: none;
    transition: .3s;
    background: linear-gradient(180deg, rgba(124, 84, 180, .96) 0%, rgba(124, 84, 180, .84) 100%);
    position: fixed;
    top: -400px;
    z-index: 1;
}

.dropdown-toggle {
    color: hsl(0, 50%, 100%, 80%);
}

.dropdown-toggle:hover {
    transition: .3s;
    color: hsl(0, 50%, 100%, 100%);
    cursor: pointer;
}

.dropdown-toggle:active {
    transform: translateY(3px);
}

.dropdown-menu {
    background: hsl(0, 50%, 100%, 90%);
}

.dropdown-menu-btn {
    transition: .3s;
    margin-left: 0px;
    font-size: 1em;
    color: hsl(0, 50%, 0%, 80%);
}

.dropdown-menu-btn:hover {
    background: hsl(0, 50%, 0%, 20%);
    color: hsl(0, 50%, 0%, 100%);
    cursor: pointer;
}

.code-span {
    background: hsl(266, 90%, 7%);
    overflow-x: auto;
}

.custom-btn {
    background: #63B4B8;
    opacity: 0.92;
    color: white;
    transition: .3s;
}

.custom-btn:hover {
    opacity: 1;
    color: white;
    transform: translate(-1px, -2px);
}

.custom-btn:active {
    transform: translate(0px, 0px);
}

.text-purple {
    color: #5f3e8e;
}

.nav-item:hover {
    cursor: pointer;
}

.img-shadow {
    filter: drop-shadow(2px 3px 2px hsl(0, 0%, 0%, 10%));
}

.web-span {
    transition: .3s;
    opacity: .92;
    transform-origin: bottom right;
    box-shadow: 3px 4px 5px hsl(0, 0%, 0%, 15%);
}

.web-span:hover {
    cursor: pointer;
    opacity: 1;
    transform: translate(-3px, -4px);
    box-shadow: 6px 8px 5px hsl(0, 0%, 0%, 15%);
}

.web-span:active {
    transform: translate(0px, 0px);
    box-shadow: 3px 4px 5px hsl(0, 0%, 0%, 15%);
}

body::-webkit-scrollbar {
    background: rgba(18, 2, 39);
    width: 12px;
}

.code-span::-webkit-scrollbar {
    height: 12px;
}

.code-span::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #aaa;
}

.code-span::-webkit-scrollbar-thumb:hover {
    background: #999;
}

::-webkit-scrollbar-track {
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #ddd;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

::selection {
    /* color: #ddd; */
    text-shadow: 1px 1px 3px hsl(0, 50%, 0%, 20%);
    background: #63B4B888;
}

/* xxl */

@media screen and (max-width: 1400px) {
    #navigatorTop {
        display: flex;
    }
}

/* xl */

@media screen and (max-width: 1200px) {}

/* lg */

@media screen and (max-width: 992px) {
    body::-webkit-scrollbar {
        background: #ddd;
        width: 12px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background: rgba(18, 2, 39);
    }
    ::-webkit-scrollbar-thumb:hover {
        background: hsl(272, 91%, 11%);
    }
    .content-span {
        border-radius: 0;
    }
    .text-header-primary, .text-header-secondary {
        text-align: center;
    }
}

/* md */

@media screen and (max-width: 768px) {
    .text-header-primary {
        margin-top: 3rem;
        font-size: 5em;
    }
    .text-header-secondary {
        font-size: 3em;
    }
}

/* sm */

@media screen and (max-width: 576px) {
    #header {
        max-height: 480px;
    }
    .text-header-primary {
        margin-top: 2rem;
        font-size: 3em;
    }
    .text-header-secondary {
        font-size: 2em;
    }
    .text-header-describetion {
        display: none;
    }
}

@keyframes slide-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes bg-transform {
    from {
        background-position: 50% 0%;
    }
    to {
        background-position: 50% 99%;
    }
}